/* secondary colors (bright-blue[rgd(0, 225, 225)] dark-blue[rgb(0, 128, 128)] dark-grey[hex: 17252A]),
 primary colors (black[rgb(13, 13, 13)]
white[rgb(255, 255, 255)]).
font-family: 'Montserrat', sans-serif; font-family: 'Crimson Text', serif */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #17252A;
}

header {
  padding: 4px 2px 4px 2px;
}

h1 {
  text-align: center;
  color: rgb(0, 225, 225);
  background-color: rgb(0, 128, 128);
  font-family: 'Montserrat', sans-serif;
  padding: 7px 0px 7px 0px;
}

p {
  color: rgb(13,13,13);
  font-family: 'Crimson Text', serif
}
